---
 const personalImageAlt = "Bastián Salinas Rojas"
---

<article class="flex flex-col items-center justify-center gap-8 text-gray-700 dark:text-gray-300 md:flex-row">
  <div
    class="[&>p]:mb-4 [&>p>strong]:text-yellow-500 dark:[&>p>strong]:text-yellow-100 [&>p>strong]:font-normal [&>p>strong]:font-mono text-pretty order-2 md:order-1"
  >
    <p>
  Soy Bastián Salinas Rojas, Ingeniero en Informática titulado en 2019 por Duoc UC. Actualmente trabajo como <strong>Desarrollador Full Stack</strong>, encargándome de implementar mejoras tanto en el lado visual del cliente como en la base de datos.
</p>

<p>
  Entre mis logros destacan haber completado el <strong>Diplomado en Diseño y Programación Web en AIEP</strong> y la <strong>Carrera de Desarrollo Full Stack en Coderhouse</strong>. Estas experiencias han sido fundamentales para enfrentar diversos desafíos, y siempre estoy en búsqueda de nuevos retos.
</p>

<p>
  En mi tiempo libre, disfruto practicando deportes, compartiendo momentos con familiares y amigos, y jugando videojuegos. Creo firmemente que, con una buena organización, siempre hay tiempo para todo. <strong>Mi objetivo es mejorar tanto a nivel personal como profesional.</strong>
</p>
  </div>

  <img width="200" height="200" src="/fotodeperfil.jpeg" alt={personalImageAlt} class="order-1 object-cover w-64 h-full p-1 md:order-2 rotate-3 lg:p-2 lg:w-64 aspect-square rounded-2xl bg-black/20 dark:bg-yellow-500/5 ring-1 ring-black/70 dark:ring-white/20 " style="object-position: 50% 50%">

</article>
