---
import ExperienceItem from "./ExperienceItem.astro"
const EXPERIENCE = [
  {
    date: "Marzo 2023 - Actualidad",
    title: "Software Developer",
    company: "Inputsoft",
    description:
      "Soporte posventa de aplicaciones web, desarrollo de software creando nuevas funcionalidades y implementación de mejoras a los distintos sitios de la empresa. Aptitudes: Servicios web · Hojas de estilos en cascada (CSS) · Software · ASP.NET · Desarrollo de software · JavaScript · Microsoft SQL Server · C# · Jquery · Bootstrap · HTML · CSS · Servicios de Windows · API de Swagger · React · Next.js · Git · Scrum. ",
    link: "https://inputsoft.cl/",
  }
]
---

<ol class="relative mt-16">
  {
    EXPERIENCE.map((experience) => (
      <li class="">
        <ExperienceItem {...experience} />
      </li>
    ))
  }
</ol>
